# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Django
*.log
*.pot
db.sqlite3
media/
staticfiles/

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Docker
*.override.yml